/* CaseStudy.css */

/* Set the font-family for all text elements to Poppins */
.case-study,
.case-study h2,
.case-study p,
.case-study .button-text {
  font-family: "Poppins", sans-serif;
}

/* Styling for the case-study section */
.case-study {
  background-color: #f4f4f4; /* Background color for the section */
  padding: 40px; /* Adjust the padding as needed */
  text-align: center; /* Center-align the section content */
}

/* Styling for the section title */
.case-study h2 {
  font-size: 24px; /* Adjust the font size as needed */
  margin-bottom: 10px;
}

/* Styling for the main text */
.case-study .main-text {
    font-style: normal;
    font-weight: 700; /* Increase the font-weight for a bolder text */
    font-size: 30px; /* Adjust the font size as needed */
    line-height: 45px;
    background: linear-gradient(111.62deg, #5f3078 40.21%, #8650a3 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 10px;
}

  /* Styling for other paragraphs */
  .case-study .text p {
    font-size: 18px; /* Adjust the font size as needed for other paragraphs */
    margin-bottom: 15px;
    text-align: left;
    margin-left: 170px;
  }

/* Styling for the content layout */
.case-study .content {
  display: flex;
  flex-direction: row; /* Display text and image side by side */
  align-items: center; /* Vertically center content */
  justify-content: center; /* Horizontally center content */
}

/* Styling for the image */
.case-study .image {
  flex: 1; /* Adjust the width of the image column */
  margin-right: 20px; /* Add spacing between image and text */
  margin-left: 60px;
  margin-bottom: 50px;
}

.case-study .image img {
  max-width: 120%; /* Make sure the image fits within its container */
  height: auto; /* Maintain image aspect ratio */
}

/* Styling for the text column */
.case-study .text {
  flex: 2; /* Adjust the width of the text column */
}

/* Styling for the button */
.case-study button {
    font-family: "Poppins";
    padding: 1% 6%;
    border-radius: 40px;
    cursor: pointer;
    width: 680px;
    height: 67px;
    color: #fff;
    background: linear-gradient(111.62deg, #452855 40.21%, #8650a3 100%);
    border-style: none;
    margin-bottom: 10%;
    margin-left: 130px;
    margin-top: 20px;
    transition: transform 0.5s ease-in-out;
}

/* Hover styles for the button */
.case-study button:hover {
    background: #8650a3;
    transform: translateY(-10px);
    box-shadow: 0 10px 15px 0 #8650a3;
}

/* Styling for the button text */
.case-study button {
    font-style: normal;
    font-weight: 700;
    font-size: 30px; /* Increase the font size as needed */
    line-height: 30px;
    letter-spacing: 0.5px;
}

/* Additional styles and adjustments can be made as needed */