@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: poppins;
    color: rgb(212, 212, 212);
    font-size: 15px;
    min-height: 100vh;
    /* creating the background of the webpage setting the color and the lines */
    background-color: rgb(30, 30, 30);
    background-image: 
        repeating-linear-gradient(90deg, transparent 0 49px, rgb(21, 19, 19) 49px 50px),
        repeating-linear-gradient(180deg, transparent 0 49px, rgb(21, 19, 19) 49px 50px);
}

main {
    width: 100%;
    margin: 0;
}

/* The scrollbar */
::-webkit-scrollbar {
    width: 12px; /* width for vertical scrollbars */
    height: 12px; /* height for horizontal scrollbars */
}

::-webkit-scrollbar-track {
    background: rgb(30, 30, 30); /* Background color */
    border-radius: 10px; /* Round track */
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(120deg, rgba(184, 59, 59, 0.5), rgba(247, 72, 195, 0.5), rgba(29, 135, 210, 0.5)); /* Gradient color */
    border-radius: 5px; /* Round thumb */
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(120deg, rgb(184, 59, 59, 0.7), rgb(247, 72, 195, 0.7), rgb(29, 134, 210, 0.7)); /* Gradient color with opacity */
}

::-webkit-scrollbar-thumb:active {
    background: linear-gradient(120deg, rgb(184, 59, 59, 0.9), rgb(247, 72, 195, 0.9), rgb(29, 134, 210, 0.9)); /* Gradient color with higher opacity */
}
  
/* the Navbar */
header {
    /* making the navbar fixed and adjusting its position */
    position: fixed;
    width: 100%;
    height: 80px;
    top: 0;

    display: flex;
    justify-content: space-between;
    align-items: center; /* align content vertically center*/
    padding: 0 5vw; 
    box-sizing: border-box;
    z-index: 100; /* displayed above every element */
    backdrop-filter: blur(50px); /* applying blur effect to content below */
}

header img {
    width: 250px;
}

header .logo, header nav {
    display: flex;
    gap: 30px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}

header nav a {
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    color: #fff;
    position: relative;
    display: inline-block;
    padding: 5px 0;
}

header nav a:hover {
    color: transparent; /* making the color transparent when hovered*/
    background: linear-gradient(90deg, rgba(184, 59, 59, 1), rgba(247, 72, 195, 1), rgba(29, 135, 210, 1));
    -webkit-background-clip: text; /* clipping the background to the text */
    transition: color 0.3s ease-in-out;
}

/* The Container */
.container{
    margin-top: 100px;
}

.content1 {
    width: 90%;
    height: 70vh;
    margin: auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content1 .intro #text1 {
    font-family: Kanit,sans-serif;
    font-size: 40px;
    font-weight: 900;
    line-height: 100px;
    color: transparent; /* making the color transparent when hovered*/
    background: linear-gradient(90deg, rgb(134, 80, 163) 40%, rgba(247, 72, 195) 70%);
    -webkit-background-clip: text; /* clipping the background to the text */
}

.content1 .intro #text2 {
    font-family: Kanit,sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 40px;
    color: transparent; /* making the color transparent when hovered*/
    background: linear-gradient(90deg, rgb(134, 80, 163) 40%, rgba(247, 72, 195) 70%);
    -webkit-background-clip: text; /* clipping the background to the text */
}

/* float animation */
@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

.content1 img {
    max-height: 100%;
    height: auto;
    animation: float 3s ease-in-out infinite;
}

.content1::before {
    /* creating object and positioning it */
    position: absolute;
    width: 400px;
    height: 400px;
    content: '';
    top: calc(50% - 200px);
    left: calc(80% - 200px);
    border-radius: 50%;

    background-image: linear-gradient(120deg, rgb(184, 59, 59) 10%, rgb(247, 72, 195) 45%, rgb(29, 134, 210) 75%); /* creating the gradient */
    z-index: -1; /* displayed below every element*/
    filter: blur(180px); /* adding blur effect */
    pointer-events: none;
}

.content2{
    width: 90%;
    margin: 5vh auto 10vh auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 7vw;
}

.content2::before {
    /* creating object and positioning it */
    position: absolute;
    width: 150px;
    height: 150px;
    content: '';
    top: calc(20% - 75px);
    left: calc(15% - 75px);
    border-radius: 50%;

    background-image: linear-gradient(120deg, rgb(184, 59, 59) 10%, rgb(247, 72, 195) 45%, rgb(29, 134, 210) 75%); /* creating the gradient */
    z-index: -1; /* displayed below every element*/
    filter: blur(70px); /* adding blur effect */
    pointer-events: none;
}

.content2::after {
    /* creating object and positioning it */
    position: absolute;
    width: 150px;
    height: 150px;
    content: '';
    top: calc(80% - 75px);
    left: calc(85% - 75px);
    border-radius: 50%;

    background-image: linear-gradient(120deg, rgb(184, 59, 59) 10%, rgb(247, 72, 195) 45%, rgb(29, 134, 210) 75%); /* creating the gradient */
    z-index: -1; /* displayed below every element*/
    filter: blur(70px); /*adding blur effect */
    pointer-events: none;
}

.content2 .card {
    width: 240px;
    height: 210px;
    border-radius: 20%;
    background: linear-gradient(120deg, rgb(237, 28, 175), rgb(128, 67, 161));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 0.3s ease-out, transform 0.8s ease-out;
}

.content2 .card.animate {
    opacity: 1;
    transform: translateY(0);
}

.content2 .card:hover {
    transform: translateY(-15px);
    box-shadow: 0px 8px 10px rgba(134, 80, 163);
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.content2 .card #number {
    font-size: 60px;
    font-weight: 600;
    font-family: Kanit,sans-serif;
    pointer-events: none;
}

.content2 .card #title {
    font-size: 26px;
    font-weight: 500;
    font-family: Kanit,sans-serif;
    pointer-events: none;
}

/* Services Section */
.services {
    width: 90%;
    margin: auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.services::before{
    /* creating object and positioning it */
    position: absolute;
    width: 150px;
    height: 150px;
    content: '';
    top: calc(50% - 75px);
    left: calc(75% - 75px);
    border-radius: 50%;

    background-image: linear-gradient(120deg, rgb(184, 59, 59) 10%, rgb(247, 72, 195) 45%, rgb(29, 134, 210) 75%); /* creating the gradient */
    z-index: -1; /* displayed below every element*/
    filter: blur(70px); /*adding blur effect */
    pointer-events: none;
}

.services::after{
    /* creating object and positioning it */
    position: absolute;
    width: 250px;
    height: 250px;
    content: '';
    top: calc(70% - 125px);
    left: calc(15% - 125px);
    border-radius: 50%;

    background-image: linear-gradient(120deg, rgb(184, 59, 59) 10%, rgb(247, 72, 195) 45%, rgb(29, 134, 210) 75%); /* creating the gradient */
    z-index: -1; /* displayed below every element*/
    filter: blur(100px); /*adding blur effect */
    pointer-events: none;
}

.services .services-left,
.services .services-right {
    width: 50%;
    padding: 0 2.5%;
}

.services .services-left #heading1 {
    font-size: 36px;
    font-weight: 400;
    font-family: Kanit, sans-serif;
}

.services .services-left #heading2 {
    font-size: 48px;
    font-weight: 600;
    font-family: Kanit, sans-serif;
}

.services-left p,
.services-right span {
    font-size: 18px;
    font-weight: 500;
    text-align: justify;
}

.service-container{
    display: flex;
    flex-wrap: wrap;
}

.service-card {
    width: 240px;
    height: 210px;
    perspective: 1000px; /* Perspective for 3D effect */
    margin: 2.5%;
}

.service-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.service-card:hover .service-card-inner {
    transform: rotateY(180deg);
}

.service-card-front,
.service-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    border-radius: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(120deg, rgb(237, 28, 175), rgb(128, 67, 161));
}

.service-card-back {
    transform: rotateY(180deg);
    background: linear-gradient(120deg, rgb(128, 67, 161), rgb(237, 28, 175));
}

.service-card span,
.service-card p {
    font-family: Kanit, sans-serif;
    pointer-events: none;
    text-align: center;
}

.service-card #number {
    font-size: 60px;
    font-weight: 600;
}

.service-card #title {
    font-size: 26px;
    font-weight: 500;
}